# Using the exclude everything -> add stuff pattern

*

# root text files
!global.R
!ui.R
!UI_helper_functions.R
!server.R
!renv.lock
!Makevars-docker
!requirements.txt
!minio_config.yml
!redis_config.yml
!MAP_Functions.R

# folders
!observers
!plot_functions
!preprocessing
!reactive_ui
!reactive_variables
!ui_templates
!www
!cfg
!mapDataAccess
!Jobs.txt