# Using the exclude everything -> add stuff pattern

*

# root text files
!global.R
!ui.R
!server.R
!renv
!.Rprofile
!renv.lock
!rworker.R
!modeapp_requirements.txt

# folders
!local_packages
!observers
!plot_functions
!preprocessing
!reactive_ui
!reactive_variables
!ui_templates
!www



