# Using the exclude everything -> add stuff pattern

*

# root text files
!global.R
!ui.R
!server.R
!renv.lock
!Makevars-docker
!requirements.txt

# folders
!observers
!plot_functions
!preprocessing
!reactive_ui
!reactive_variables
!ui_templates
!www
!cfg
!mapDataAccess
